<section id="search-content">
  <div class="row">
    <input type="text" ng-model="searchTerm" class="search-query" placeholder="Search Ids" ng-change="searchById()">

    <h3>{{searchTerm}}</h3>
  </div>
</section>
<!--
<section id="search-results" class="large-12 columns" ng-if="searchResponse">

  <li ng-repeat=" item in searchResponse.hits.hits">
    <a href={{item._source.url}}><img src="img/movie-example.jpg"></a>
    <h6>{{item._source.title}}, {{item._source.year}}, {{item._score}}, {{item._source.recs[7]}}</h6>
    <li ng-repeat="marco in item._source.recs">
    <hello>asdf</hello>
    </li>
  </li>

-->

<div class="large-12 columns">
  <article ng-repeat="item in searchResponse.hits.hits">

    <header>
      <h3>Title: {{item._source.title}}, Year: {{item._source.year}},
      Total Recs: {{item._source.recs.length}} </h3>
      <div>
        <h4>Recs: </h4>
      </div>
    </header>

      <article ng-repeat="recs in item._source.recs">
        <header></header>
          {{recs.item}}
          <div style="display: none"> {{testSearchId(recs.item)}}</div>
        <footer></footer>
      </article>

    <footer>
      <h3>Main Footer </h3>
    </footer>

  </article>
</div>